apiVersion: v2
name: prometheus-operator-crd
description: kube-prometheus-stack CustomResourceDefinitions.
home: https://github.com/giantswarm/prometheus-operator-crd
icon: https://s.giantswarm.io/app-icons/prometheus-operator/2/light.svg
engine: gotpl
type: application
sources:
  - https://github.com/prometheus-community/helm-charts
  - https://github.com/prometheus-operator/kube-prometheus
appVersion: v0.87.1
version: 19.0.0
kubeVersion: ">=1.19.0-0"
annotations:
  application.giantswarm.io/team: atlas
restrictions:
  clusterSingleton: true
dependencies:
  - name: prometheus-operator-crds
    version: 26.0.1
    repository: https://prometheus-community.github.io/helm-charts
